.page {
  width: 100%;
  height: 100vh;
  background: url(../assests/images/bgc.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display:flex;    
    position: relative;
    padding-right: 50%;
    &-right {
      position: absolute;
      left:220px;
      top: -20px;
    }
  }
}